.astro-image {
    border: 5px solid rgb(66, 65, 65);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    cursor: move;
} 


.astro-image:hover {
    box-shadow: 0 0 6px 1px rgb(116, 115, 115);
}

html {
    background: url(space-images/space.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#space-station {
    background-image: url(space-images/space-station.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    padding-bottom: 90px;
    border: 1px solid black;
}

#earth {
    background-image: url(space-images/earth.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 90px;
    padding-top  : 60px;
    border: 1px solid black;
} 

#astroInfo {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  #astroInfoContainer {
    height: 20vh;
    text-align: center;
  }

h2, h3 {
color: cornsilk;
}

a {
color: rgb(247, 230, 2);
}