.astro-image {
    border: 5px solid rgb(66, 65, 65);
    border-radius: 4px;
    padding: 5px;
    width: auto;
    height: auto
}

.astro-image:hover {
    box-shadow: 0 0 6px 1px rgb(116, 115, 115);
}

